In [35]:
import streamlit as st
import pandas as pd
import plotly.express as px

In [36]:
dados = pd.read_csv("supermarket_sales.csv", sep=";")
dados.head()

,Unnamed: 0,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,0,750-67-8428,A,Yangon,Member,Female,Health and beauty,"74,69",7,"26,1415","548,9715",1/5/2019,13:08,Ewallet,"522,83","4,761904762","26,1415","9,1"
1,1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,"15,28",5,"3,82","80,22",3/8/2019,10:29,Cash,"76,4","4,761904762","3,82","9,6"
2,2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,"46,33",7,"16,2155","340,5255",3/3/2019,13:23,Credit card,"324,31","4,761904762","16,2155","7,4"
3,3,123-19-1176,A,Yangon,Member,Male,Health and beauty,"58,22",8,"23,288","489,048",1/27/2019,20:33,Ewallet,"465,76","4,761904762","23,288","8,4"
4,4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,"86,31",7,"30,2085","634,3785",2/8/2019,10:37,Ewallet,"604,17","4,761904762","30,2085","5,3"

In [37]:
dados["Date"]

0       1/5/2019
1       3/8/2019
2       3/3/2019
3      1/27/2019
4       2/8/2019
         ...
995    1/29/2019
996     3/2/2019
997     2/9/2019
998    2/22/2019
999    2/18/2019
Name: Date, Length: 1000, dtype: object

In [38]:
dados["Date"] = pd.to_datetime(dados["Date"])
dados["Date"]

0     2019-01-05
1     2019-03-08
2     2019-03-03
3     2019-01-27
4     2019-02-08
         ...
995   2019-01-29
996   2019-03-02
997   2019-02-09
998   2019-02-22
999   2019-02-18
Name: Date, Length: 1000, dtype: datetime64[ns]

In [39]:
dados = dados.sort_values("Date")
dados["Date"]

856   2019-01-01
567   2019-01-01
245   2019-01-01
696   2019-01-01
523   2019-01-01
         ...
158   2019-03-30
881   2019-03-30
963   2019-03-30
937   2019-03-30
474   2019-03-30
Name: Date, Length: 1000, dtype: datetime64[ns]

In [40]:
dados["Month"] = dados["Date"].dt.strftime('%Y-%m')
dados["Month"]

856    2019-01
567    2019-01
245    2019-01
696    2019-01
523    2019-01
        ...
158    2019-03
881    2019-03
963    2019-03
937    2019-03
474    2019-03
Name: Month, Length: 1000, dtype: object

In [41]:
month = st.sidebar.selectbox("Mês", dados["Month"].unique())
month

'2019-01'

In [42]:
dados_filtered = dados[dados["Month"] == month]
dados_filtered.head()

,Unnamed: 0,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Month
856,856,770-42-8960,B,Mandalay,Normal,Male,Food and beverages,"21,12",8,"8,448","177,408",2019-01-01,19:31,Cash,"168,96","4,761904762","8,448","6,3",2019-01
567,567,651-88-7328,A,Yangon,Normal,Female,Fashion accessories,"65,74",9,"29,583","621,243",2019-01-01,13:55,Cash,"591,66","4,761904762","29,583","7,7",2019-01
245,245,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,"47,59",8,"19,036","399,756",2019-01-01,14:47,Cash,"380,72","4,761904762","19,036","5,7",2019-01
696,696,182-52-7000,A,Yangon,Member,Female,Sports and travel,"27,04",4,"5,408","113,568",2019-01-01,20:26,Ewallet,"108,16","4,761904762","5,408","6,9",2019-01
523,523,133-14-7229,C,Naypyitaw,Normal,Male,Health and beauty,"62,87",2,"6,287","132,027",2019-01-01,11:43,Cash,"125,74","4,761904762","6,287","5,0",2019-01

In [43]:
col1, col2 = st.columns(2)
col3, col4, col5 = st.columns(3)
print(col1, col2)
print(col3, col4, col5)

DeltaGenerator() DeltaGenerator()
DeltaGenerator() DeltaGenerator() DeltaGenerator()

In [44]:
fig_date = px.bar(dados_filtered, x="Date", y="Total", color="City", title="Faturamento por dia")
col1.plotly_chart(fig_date, use_container_width=True)

DeltaGenerator()

In [45]:

fig_prod = px.bar(dados_filtered, x="Date", y="Product line", 
                  color="City", title="Faturamento por tipo de produto",
                  orientation="h")
col2.plotly_chart(fig_prod, use_container_width=True)

DeltaGenerator()

In [46]:

city_total = dados_filtered.groupby("City")[["Total"]].sum().reset_index()
fig_city = px.bar(city_total, x="City", y="Total",
                   title="Faturamento por filial")
col3.plotly_chart(fig_city, use_container_width=True)

DeltaGenerator()

In [47]:
fig_kind = px.pie(dados_filtered, values="Total", names="Payment",
                   title="Faturamento por tipo de pagamento")
col4.plotly_chart(fig_kind, use_container_width=True)

DeltaGenerator()